@model CharacterRegistrationModel
@using Portfolio.RealTimeBackend;
@{
    ViewData["Title"] = "Area 52";
    Layout = "~/Views/Shared/_GroupFinderLayout.cshtml";
}


    <div id="RegistrationInputFields">
        @Html.DropDownListFor(t => t.Class, new SelectList(Enum.GetValues(typeof(Enums.Class))), "Class")
        @Html.DropDownListFor(t => t.Role, new SelectList(Enum.GetValues(typeof(Enums.Role))), "Role")
        @Html.DropDownListFor(t => t.Level, new SelectList(Enumerable.Range(15, 46).Reverse()), "Level"))
        @Html.DropDownListFor(t => t.Faction, new SelectList(Enum.GetValues(typeof(Enums.Faction))), "Faction")
        @Html.TextBoxFor(t => t.Name, "Name")
        <button id="registerButton" type="submit">Register</button>
    </div>

<p id="classVerification" style="color: red; display:none"> Class is required</p>
<p id="roleVerification" style="color: red; display:none"> Role is required</p>
<p id="levelVerification" style="color: red; display:none"> Level is required</p>
<p id="factionVerification" style="color: red; display:none"> Faction is required</p>
<p id="nameVerification" style="color: red; display:none"> Name is required</p>

<div id="Status">
    <p>Tanks in queue: @ClientManager.TankCount</p>
    <p>Healers in queue: @ClientManager.HealerCount</p>
    <p>DPS in queue: @ClientManager.DamageCount</p>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/CharacterRegistration.js"></script>